# **Data Science Tools and Ecosystem**

###  In this notebook, Data Science Tools and Ecosystem are summarized. ###

### **Some of the popular languages that Data Scientists use are:**

###### 1. Pyton;
###### 2. R;
###### 3. Scala;
###### 4. Java;
###### 5. C++;
###### 6. JavaScript;
###### 7. Julia;
###### 8. Visual Basic.

### **Some of the commonly used libraries used by Data Scientists include:**

###### 1. Pyton libraries:
###### - Scientific computing Libraries(Pandas, NumPy);
###### - Visualization(Matplotlib, Seaborn);
###### - Machine Learning and Deep Learning(Scikit-learn, Keras);
###### - Deep Learning(TensorFlow, Pytorch);
###### 2. Scala libraries:
###### - Vegas(for statistical data visualization);
###### - Big DL;
###### 3. R libraries:
###### - ggplot2.

|  Data Science Tools       |
|:--------------------------|
|mongoDB,cassandra, hadoop  |
|__________________________ |
|Apache Airflow, RbdtFlow   |
|__________________________ |
|Kafka, Spark SQL           |
|__________________________ |
|PixieDust,kibana, Superset |
|__________________________ |
|PredictionIO,Seldon        |
|__________________________ |
|ModelDB,Prometheus         |
|__________________________ |
|Git,GitHub,GitLab          |
|__________________________ |
|ApacheAtlas, Egeria        |
|__________________________ |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
x = min(5, 10, 25)
y = max(5, 10, 25)
print(x)
print(y)

5
25

```python
x = min(5, 10, 25)
y = max(5, 10, 25)
print(x)
print(y)
```

In [14]:

s = 1+1
print (s)

2

```python
s = 1+1
print (s)
```

In [15]:
# This a simple arithmetic expression to mutiply then add integers
x=(3*4)+5
print(x)

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
x=200/60
print(x)

3.3333333333333335

## **Objectives:**

- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

## Author
##### Nataliya Yeremenko